/* topdoc
  name: Search Input base
  markup:
    <input type="search" class="search-input" placeholder="search">
  example:
    http://codepen.io/Topcoat/pen/Kgbtn
*/
.search-input {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  -webkit-appearance: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
