/* topdoc
  name: Search Input base
  markup:
    <input type="search" class="search-input" placeholder="search">
  example:
    http://codepen.io/Topcoat/pen/Kgbtn
*/
.search-input
  reset-input()
  -webkit-appearance none

.search-input::-webkit-search-cancel-button
    -webkit-appearance none